@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');






@media screen and (min-width: 0px) and (max-width: 767px){

.encabezado__container{
    width: 22.5rem;
    
}

.encabezado__controles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5rem auto;
}
.encabezado__logo{
    width:10rem;
    height: min-content;
}


    .login__container{
    background: #f3f0f0;
    width: 23rem;
}

.login__componentes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 5rem auto;
    gap: 1.4rem;
}

.login__titulo{
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-align: center;
    

}

.login__correo, .login__password{
    text-decoration: none;
    border: none;
    font-weight: 300;
    width: 17rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: 4px;
    font-size: 1.1rem;

}

.login__boton{
    width: 7rem;
    height: 2.7rem;
    text-align: center;
    color: #fff;
    font-family: 'Raleway';
    font-size: 1rem;
    padding-bottom: .2rem;
    font-weight: 600;
    background: #2A7AE4;
    border: none;
}

.contacto__login{
    width: 23rem;
    background: #EAF2FD;
}
.footer__login{
    height: 5rem;
}
}


@media screen and (min-width: 768px) and (max-width: 1024px){
    .login__container{
        background: #f3f0f0;
        width: 48rem;
    }
    
    .login__componentes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 2rem auto;
        gap: 1.4rem;
    }
    
    .login__titulo{
        font-family: 'Raleway';
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        text-align: center;
        
    
    }
    
    .login__correo, .login__password{
        text-decoration: none;
        border: none;
        font-weight: 300;
        width: 17rem;
        height: 3rem;
        padding-left: 1rem;
        border-radius: 4px;
        font-size: 1.1rem;
    
    }
    
    .login__boton{
        width: 7rem;
        height: 2.7rem;
        text-align: center;
        color: #fff;
        font-family: 'Raleway';
        font-size: 1rem;
        padding-bottom: .2rem;
        font-weight: 600;
        background: #2A7AE4;
        border: none;
    }
    .contacto__login{
        width: 48rem;
        height: 20rem;
        background: #EAF2FD;
    }
    .footer__login{
        height: 4rem;
    }
    }


@media screen and (min-width: 1025px) and (max-width: 2096px){
    .login__container{
        background: #f3f0f0;
        width: 80rem;
    }
    
    .login__componentes{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        margin: 2rem auto;
        gap: 1.4rem;
    }
    
    .login__titulo{
        font-family: 'Raleway';
        font-size: 1.2rem;
        font-weight: 600;
        color: #000;
        text-align: center;
        
    
    }
    
    .login__correo, .login__password{
        text-decoration: none;
        border: none;
        font-weight: 300;
        width: 17rem;
        height: 3rem;
        padding-left: 1rem;
        border-radius: 4px;
        font-size: 1.1rem;
    
    }
    
    .login__boton{
        width: 17rem;
        height: 2.7rem;
        text-align: center;
        color: #fff;
        font-family: 'Raleway';
        font-size: 1rem;
        padding-bottom: .2rem;
        font-weight: 600;
        background: #2A7AE4;
        border: none;
    }

    .contacto__login{
        width: 80.6rem;
        background: #EAF2FD;
    }

    .footer__login{
        height: 4rem;
    }

    }


 